<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:label="Wallpapers 4K — Free"
        android:icon="@mipmap/ic_launcher">

        <!-- AdMob App ID (real — Android). -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8510304338648685~6456890841" />

        <!-- Jonli (video) wallpaper servisi. -->
        <service
            android:name="com.sherdor.wallpapers.LiveWallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>


        <!-- FQCN: paket nomi bilan to‘liq -->
        <activity
            android:name="com.sherdor.wallpapers.MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>
</manifest>
